title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
*{
    margin:0;
    padding: 0;

}
body{
    height: 100vh;
     width: 100vw; 
    background: #ADA996;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}
.section1{
    position: sticky;
    top:0;
    width: 70%;
     height: 12rem;
     /* background: #659999;  /* fallback for old browsers 
     background: -webkit-linear-gradient(to right, #f4791f, #659999);  /* Chrome 10-25, Safari 5.1-6
     background: linear-gradient(to right, #f4791f, #659999); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+     
     background: #7F7FD5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); 
background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); 
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
     border-radius:5px;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     gap: 80px;
     
    }
    
    .profile-img{
        display:flex;
        height: 8rem;
        width: auto;
        margin-left: 2px;
        
    }
    img{
        border-radius: 50%;
    }
    .profile-data{
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-content: flex-end;
        flex-direction: column;
        align-items: flex-start;
    }
    .section2{
    width: 70%;
    height: 12rem;   
    justify-content: center;
}
.objective{
    color: rgb(145, 159, 154);
    text-align: left;
    
}
.section3{
    width: 70%;
}
.ed-sec{
    color:rgb(145, 159, 154) ;
    text-align: left;
}
table{
    width: 60%;
    border:1px solid #8360c3;
}
th{
    background: #7F7FD5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
td{
    text-align: center;
    border:1px solid #8360c3;
}
.heading-color{
    color: #8360c3;  /* fallback for old browsers */
    padding-bottom:5px;
    font-weight: bold;
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.section4{
    width: 70%;
    height: 20%;
    /* display:flex; */
    flex-direction: row;
    justify-content: center;
}
ul{
    position: relative;
    left:40px;
}
.section5{
    width: 70%;
    justify-content: left;
}
mark{
background-color: #8360c3;
}
li{
    list-style: square;
    margin: 2px;
}
.section6{
    width: 70%;
    height: 12rem;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    background-color: #8586e0;
}

.skill1{
    padding-bottom:5px;
    display: flex;
    gap: 6rem;
    align-content: center;
}
/* From Uiverse.io by kamehame-ha */ 
.buttongit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 9px;
    gap: 15px;
    background: #481fc4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    outline: 3px #bb7fe4 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
  }
  
  .buttongit .textgit {
    color: white;
    font-weight:700;
    font-size: 1em;
    transition: 400ms;
  }
  
  .buttongit svg path {
    transition: 400ms;
  }
  
  .buttongit:hover {
    background-color: transparent;
  }
  
  .buttongit:hover .textgit {
    color: #181717;
  }
  
  .buttongit:hover svg path {
    fill: #181717;
  }
a{
    text-decoration: none;
}
button{
    align-self: flex-start;
    position: relative;
    right:300px;
    z-index: 1;
}


*::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     background-color: #F5F5F5;
 }
 
 *::-webkit-scrollbar
 {
     width: 10px;
     background-color: #F5F5F5;
 }
 
*::-webkit-scrollbar-thumb
 {
     background-color: rgb(187, 219, 232);
     
     background-image: -webkit-gradient(linear, 0 0, 0 100%,
                        color-stop(.5, rgba(255, 255, 255, .2)),
                        color-stop(.5, transparent), to(transparent));
 }
 
